@use './../util/variables' as v;

@mixin border {
  background-color: #ffffff; 
  padding: 2em;
  border: 5px solid v.$vinho;
  border-radius: 20px;
  box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.658);
}

@mixin grid {
  display: grid;
  place-items: center;
}

.icon-filled {
  background-color: v.$vinho;
  color: v.$branco;
  border: none;
  padding: 10px;
  display: grid;
  place-items: center;
  font-size: 35px;
  border-radius: 50%;
}

.icon {
  @extend .icon-filled;
  background-color: transparent;
  color: v.$vinho;
  display: grid;
  place-items: center;
  :hover{
    transition-duration: 0.5s;
    cursor: pointer;
    color: v.$vinho2;
  }
  border-radius: 50%;
}

input, select {
  background-color: v.$cinza;
  border: 1px solid v.$cinza2;
  border-radius: 5px;
  height: 4vh;
  padding: 10px;
  font-size: 16px;
  color: v.$cinza3;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: #9E2E2D;
    box-shadow: 0 0 4px #9E2E2D;
  }
}

select{
  padding: 0px 2px;
}